body{
    margin: 0;
}

.mainSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: 100vh;
}

h1,h5{
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 0;
    font-family:sans-serif;
}

.signIn{
    color: rgb(24, 24, 24);
    margin-bottom: 10px;
}

form{
    text-align: center;
}

h5{
    color: gray;
    margin-top: 30px;
    font-size: 10px;
}

input{
    background-color: white;
    padding: 10px 70px 10px 10px;
    border-radius: 3px;
    border:1px solid rgba(226, 226, 226);
}

input:focus{
    outline: none !important;
    border:2px solid rgba(0, 204, 255, 0.534);
}

.remember{
    margin:10px 0px;
    font-family: sans-serif;
    color: rgb(73, 73, 73);
    font-size: 13px;
}

input[type="checkbox"]{
    height: 10px;
    width: 10px;
}

.iconDiv{
    background-color: rgb(51, 1, 97);
    color: white;
    font-family:sans-serif;
    padding: 3px 13px;
    font-size: 30px;
    border-radius: 3px;
    margin:15px;
}

button{
    background-color: rgb(0, 132, 255);
    color: white;
    font-family: sans-serif;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
}